

<% if @user.id == session[:user_id] %>
    <h1> <%= @user.username.capitalize %> these are your Tweets!!<h1>
  <% end %>

<h2> Tweets by <%= @user.username %>:
  </h2>

<ol>
  <% @user.tweets.each do |tweet| %>

      <li><%= tweet.content %> By: <%= tweet.user.username%>


            <h2><a href='/tweets/new'> Add a Tweet </a></h2>
              <a href="/tweets/<%= tweet.id %>/edit"> Edit</a>

              <form method="POST" action='/tweets/<%= @tweet.id %>/delete'>
                  <input name="_method" type="hidden" value="DELETE">
                  <button type="submit" id="Delete Tweet" value="Delete Tweet">Delete Tweet</button>
                </form>
            
        </li>


  <% end %>

</ol>
